<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grateful Dead Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="description" content="A search and mapping tool for Grateful Dead shows">
    <script data-main="/static/js/main" src="/static/js/libs/require/require.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="row" id="menu">
      </div>
      <div class="row" id="search-bar">
      </div>
      <div class="row">
        <div class="col-md-2" id="filters">content</div>
        <div class="col-md-6" id="content"></div>
        <div class="col-md-4" id="map"></div>
      </div>
    </div>
  </body>
</html>