# Python virtualenv (vagrant box)
virtualenv
# Python virtualenv (host machine)
hostenv
# Python compiled files
*.pyc

# Mac finder files
*.DS_Store

# Vagrant files
.vagrant

# Ignore text files
*.txt
