<label for="date-min">Min Date</label>
<input type="text" id="date-min" placeholder="YYYY-MM-DD" class="js-filter-date-start" value="{{ date_start }}">
<label for="date-max">Max Date</label>
<input type="text" id="date-max" placeholder="YYYY-MM-DD" class="js-filter-date-end" value="{{ date_end }}">