Sort by:
<button class="js-sort-date">Date</button>
<button class="js-sort-relevance">Relevance</button>
Start Date (YYYY-MM-DD)<input type="text" class="js-filter-date-start" value="{{ date_start }}">
End Date (YYYY-MM-DD)<input type="text" class="js-filter-date-end" value="{{ date_end }}">