<button class="btn btn-sm js-page-prev" {{^ prevPageExists }}disabled{{/ prevPageExists }}>Previous Page</button>
<button class="btn btn-sm pull-right js-page-next" {{^ nextPageExists }}disabled{{/ nextPageExists }}>Next Page</button>
