<button class="js-page-prev" {{^ prevPageExists }}disabled{{/ prevPageExists }}>Previous Page</button>
<button class="js-page-next" {{^ nextPageExists }}disabled{{/ nextPageExists }}>Next Page</button>
