<li>
<div>Concert: <a href="/show/{{show_id}}">{{album}}</a></div>
<div>Title: {{title}}</div>
<iframe src="https://archive.org/embed/{{show_id}}/{{filename}}" width="500" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
</li>